<section class="products">
  <div class="container">
    <h2>Products</h2>
    <p>
     This prices is just for Copenhaguen.
    </p>
  </div>

  <div class="flex items-center justify-around wrap container products-box">
    <div class="product">
      <h4>Roaster Coffee</h4>
      <p>40 DKK / 100gr</p>
      <ul>
        <li>12 Coffee varieties</li>
        <li>Fair Trade Certification</li>
        <li>Height 1300-1800msnm</li>
        <li>Reading for shipping</li>
      </ul>
      <a href="">Buy Now</a>
    </div>
    <div class="product">
      <h4>Roaster Coffee</h4>
      <p>40 DKK / 100gr</p>
      <ul>
        <li>12 Coffee varieties</li>
        <li>Fair Trade Certification</li>
        <li>Height 1300-1800msnm</li>
        <li>Reading for shipping</li>
      </ul>
      <a href="">Buy Now</a>
    </div>
    <div class="product">
      <h4>Roaster Coffee</h4>
      <p>40 DKK / 100gr</p>
      <ul>
        <li>12 Coffee varieties</li>
        <li>Fair Trade Certification</li>
        <li>Height 1300-1800msnm</li>
        <li>Reading for shipping</li>
      </ul>
      <a href="">Buy Now</a>
    </div>
  </div>
</section>