<section class="productos-cards">
  <div class="cards-lista">
    <div class="card-producto">
      <img src="/gallery/blend2.jpeg" alt="Sazonador" class="card-img">
      <div class="card-info">
        <h3 class="card-nombre">Blend Coffee</h3>
        <p class="card-desc">Cofffe of specialty perfect for the mornings.</p>
        <div class="card-precio">50.00 DKK</div>
        <button class="card-btn">
          <span class="btn-icon">
            <!-- carrito SVG -->
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none"><circle cx="8" cy="19" r="2" fill="#D32F2F"/><circle cx="16" cy="19" r="2" fill="#D32F2F"/><path d="M2 2h2l3 12h9l2-8H6" stroke="#D32F2F" stroke-width="2" fill="none"/></svg>
          </span>
          Agregar
        </button>
      </div>
    </div>
    <div class="card-producto">
      <img src="/products/jugo.jpeg" alt="Cocona néctar" class="card-img">
      <div class="card-info">
        <h3 class="card-nombre">Cocona Néctar</h3>
        <p class="card-desc">A vibrant and exotic fruit juice from the Peruvian Jungle.</p>
        <div class="card-precio">35.00 DKK</div>
        <button class="card-btn">
          <span class="btn-icon">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none"><circle cx="8" cy="19" r="2" fill="#D32F2F"/><circle cx="16" cy="19" r="2" fill="#D32F2F"/><path d="M2 2h2l3 12h9l2-8H6" stroke="#D32F2F" stroke-width="2" fill="none"/></svg>
          </span>
          Agregar
        </button>
      </div>
    </div>
    <div class="card-producto">
      <img src="/products/mermelada-cafe.jpeg" alt="Ajo" class="card-img">
      <div class="card-info">
        <h3 class="card-nombre">Coffee & Ananas Jam</h3>
        <p class="card-desc">The sweetest pineapples ripened by the Amazonian.</p>
        <div class="card-precio">50 DKK</div>
        <button class="card-btn">
          <span class="btn-icon">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none"><circle cx="8" cy="19" r="2" fill="#D32F2F"/><circle cx="16" cy="19" r="2" fill="#D32F2F"/><path d="M2 2h2l3 12h9l2-8H6" stroke="#D32F2F" stroke-width="2" fill="none"/></svg>
          </span>
          Agregar
        </button>
      </div>
    </div>
    <div class="card-producto">
      <img src="/products/pecanas.jpeg" alt="Comino" class="card-img">
      <div class="card-info">
        <h3 class="card-nombre">Pecanas by Ica, Perú</h3>
        <p class="card-desc">The finest pecan in the Americas has arrived</p>
        <div class="card-precio">40.00 DKK</div>
        <button class="card-btn">
          <span class="btn-icon">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none"><circle cx="8" cy="19" r="2" fill="#D32F2F"/><circle cx="16" cy="19" r="2" fill="#D32F2F"/><path d="M2 2h2l3 12h9l2-8H6" stroke="#D32F2F" stroke-width="2" fill="none"/></svg>
          </span>
          Agregar
        </button>
      </div>
    </div>
  </div>
</section>