<section class="galery">
  <div class="container">
    <h2>History</h2>
    <p>
      Is a company that works directly with small producers who have obtained organic certification under <br> fair trade conditions.The company has a processing plant located in the city of La Merced, Peru.
      <br>
      Chanchamayo Highland Coffee currently exports different types of coffee, cocoa, fruit juices, nectars, jams, <br> banana chips, dehydrated and candied fruits, and exotic liquors, all of organic status, <br> bound for France, Sweden, Finland, Denmark and Italy.
    </p>
  </div>
  <div class="flex container wrap galery-box">
    <figure class="galery-figure">
      <img src="/gallery/best-coffe.png" alt="">
    </figure>
    <figure class="galery-figure">
      <img src="/gallery/opinion.png" alt="">
    </figure>
    <figure class="galery-figure">
      <img src="/gallery/misha-cofe.jpeg" alt="">
    </figure>

    <figure class="galery-figure">
      <img src="/gallery/juice-organic.jpeg" alt="">
    </figure>
    <figure class="galery-figure">
      <img src="/gallery/shipiba-cofe.jpeg" alt="">
    </figure>
    <figure class="galery-figure">
      <img src="/gallery/jam-organic.jpeg" alt="">
    </figure>
  </div>
</section>