.header {
  margin: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 9;
}

.logo,
.nav-item {
  padding: 5px 20px;
  font-size: 16px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}
.header-sandwich-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .logo {
    padding-left: 0;
  }
  .nav {
    display: none;
  }
  .header-sandwich-mobile {
    display: block;
  }
}