<section class="intro">
  <div class="container">
    <div class="intro__content text-center">
      <h2 class="intro__title">Deliperuano, Super Foods from Perú.</h2>
      <p class="intro__text">
        Our products are crafted with the highest quality materials and
        designed to meet your needs. We prioritize customer satisfaction and
        offer exceptional value for money.
      </p>
      <ul class="intro__features flex justify-between mt-5">
        <li class="intro__feature">- High Quality Materials</li>
        <li class="intro__feature">- Affordable Prices</li>
        <li class="intro__feature">- Excellent Customer Service</li>
        <li class="intro__feature">- Satisfaction Guaranteed</li>
      </ul>
    </div>
  </div>
</section>