<section class="reviews">
  <div class="container">
    <h2>Reviews</h2>
  </div>

  <div class="flex items-center justify-around wrap container certifications-box">
    <figure class="galery-figure">
      <img width="70" src="/certifications/commer-france-suiza.png" alt="">
      <figcaption>
        Amazing work
      </figcaption>
    </figure>
    <figure class="galery-figure">
      <img width="70" src="/certifications/europa-certified.png" alt="">
      <figcaption>
        Amazing work
      </figcaption>
    </figure>
    <figure class="galery-figure">
      <img width="70" src="/certifications/marca-peru.png" alt="">
      <figcaption>
        Amazing work
      </figcaption>
    </figure>
    <figure class="galery-figure">
      <img width="70" src="/certifications/member-cofe.png" alt="">
      <figcaption>
        Amazing work
      </figcaption>
    </figure>
    <figure class="galery-figure">
      <img width="70" src="/certifications/usda.png" alt="">
      <figcaption>
        Amazing work
      </figcaption>
    </figure>

  </div>
</section>
