<section class="carousel-container">
  <div 
    class="banner h-100 " 
    *ngFor="let slide of slides; let i = index" 
    [style.display]="currentSlide === i ? 'flex' : 'none'"
    [style.backgroundImage]="'url(' + slide.bg + ')'"
    >
    <div class="banner-container container flex items-center justify-evenly">
      <div class=" banner-info">
        <h2>{{ slide.title }}</h2>
        <p class="mb-8">{{ slide.text }}</p>
      </div>
      <div class="banner-form">
        <img [src]="slide.img" [alt]="slide.title">
        <form action="">
          <input type="text" placeholder="Nombre">
          <input type="email" placeholder="Correo">
          <input type="number" placeholder="Celular">
          <textarea name="" id="" cols="30" rows="10" placeholder="Escriba alguna duda"></textarea>
        </form>
      </div>
    </div>
  </div>
  <div class="carousel-nav">
    <button class="carousel-btn" (click)="prevSlide()">&#8592;</button>
    <button class="carousel-btn" (click)="nextSlide()">&#8594;</button>
  </div>
</section>

<!-- <section class="linea-productos">
  <h2 class="linea-titulo">Línea de Productos</h2>
  <div class="productos-lista">
    <div class="producto-card">
      <div class="producto-icono">
      </div>
      <div class="producto-nombre">Sazonador</div>
    </div>
    <div class="producto-card">
      <div class="producto-icono">
      </div>
      <div class="producto-nombre">Ají en Polvo</div>
    </div>
    <div class="producto-card">
      <div class="producto-icono">
      </div>
      <div class="producto-nombre">Pimienta</div>
    </div>
    <div class="producto-card">
      <div class="producto-icono">
      </div>
      <div class="producto-nombre">Comino</div>
    </div>
    <div class="producto-card">
      <div class="producto-icono">
      </div>
      <div class="producto-nombre">Ajo</div>
    </div>
  </div>
</section> -->