<section class="banner">
  <div class="h-100 banner-container flex items-center justify-center container">
    <div class="banner-info">
      <h1>Cafe Bio Dinamico, Selva Peruana</h1>
      <p class="mb-8">Cafe de Especialidad Peruano totalmente organico, cultivado por campesinos shipibos, que tienen una historia de generacion en generacion para alimentarse de estos arboles sagrados.</p>
      <app-primary-button label="Conócenos"></app-primary-button>
    </div>

    <div class="banner-form">
      <form action="">
        <input type="text" placeholder="Nombre">
        <input type="email" placeholder="Correo">
        <input type="number" placeholder="Celular">
        <textarea name="" id="" cols="30" rows="10" placeholder="Escriba alguna duda"></textarea>
      </form>
    </div>
  </div>
</section>